* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh; /*full viewport height - need for dynamic sizing to stretch*/

}

.header {
    background-color: #a5b4fc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow for pop effect */
    z-index: 1; /* added so that shadow would show - header on top of other elements. */
    display: grid; /*to split into upper and lower controlled halves*/
    grid-template-rows: 2;
    grid-template-columns: 1;
}


.content {
    background-color: #e0e7ff;
    padding-top: 40px;
    padding-bottom: 50px;
    display: grid; /*split into projects in one col, announce and trend in 2nd col*/
    grid-template-columns: 3fr 1fr; /*projects take 3 parts, side content takes 1*/
    grid-template-rows: auto 1fr; /*auto for heading, 1fr for the rest*/
    gap: 20px;
}

.content h2 {
    grid-column: 1 / -1; /*makes span across full width no matter how many cols*/
    font-size: 24px;
    padding-bottom: 10px;
}

.content,
.header,
.sidebar {
    padding-left: 30px;
    padding-right: 30px;
}

.sidebar {
    background-color: #6366f1;
    grid-row: 1 / 3;
    /* decide whether to use grid to space 3 boxes on side */
}

.side-items {
    /* to decide whether keep each menuitem div (and apply grid there), or remove and apply grid here in sideitems */
}

.header-upper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1;
    overflow: hidden;
}

.header-lower {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1;
    overflow: hidden;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*now size of */
    gap: 1rem; /*made relative sizing so can minus space calc for responsiveness*/
    grid-row: 2;
}

.proj-card {
    background-color: #eef2ff;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.side-content {
    display: grid;
    grid-template-rows: auto auto; /*didn't change anything on adding - not sure if need.*/
    gap: 15px;
}