* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh; /*full viewport height - need for dynamic sizing to stretch*/

}

.header {
    background-color: #a5b4fc;
    padding: 10px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow for pop effect */
    z-index: 1; /* added so that shadow would show - header on top of other elements. */
    display: grid; /*to split into upper and lower controlled halves*/
    grid-template-rows: 2;
    grid-template-columns: 1;
}


.content {
    background-color: #e0e7ff;
    padding-top: 40px;
    padding-bottom: 50px;
    display: grid; /*split into projects in one col, announce and trend in 2nd col*/
    grid-template-columns: 3fr 1fr; /*projects take 3 parts, side content takes 1*/
    grid-template-rows: auto 1fr; /*auto for heading, 1fr for the rest */
    gap: 20px;
    /* grid-column: 2;
    grid-row: 2; */
}

.your-projects {
    grid-column: 1 / 2;
    grid-row: 1;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1;
}



.content h2 {
    font-size: 20px;
}

.content,
.header,
.sidebar {
    padding-left: 30px;
    padding-right: 30px;
}

.sidebar {
    background-color: #6366f1;
    grid-row: 1 / -1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    /* decide whether to use grid to space 3 boxes on side */
}

.side-menu {
    /* to decide whether keep each menuitem div (and apply grid there), or remove and apply grid here in sideitems */
}

.header-upper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1;
    overflow: hidden;
}

.header-lower {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1;
    overflow: hidden;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 2 / 5;
    gap: 1rem; /*made relative sizing so can minus space calc for responsiveness*/
}

.proj-card {
    background-color: #eef2ff;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.announcements-card,
.trending-card {
    background-color: #eef2ff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.divider {
    color: #737373;
}

.side-card {
    margin: 1em;
}

.side-card > h3 {
    font-size: 16px;
}

.side-card p {
    color: #737373;
    font-size: 14px;
}

.trending,
.trending-card {
    grid-column: 2 / 3;
    grid-row: auto;
}

.proj-card h3 {
    font-size: 18px;
    margin-top: 1em;
    margin-left: 12px;
}

.proj-card p {
    font-size: 16px;
    margin: 12px;
    margin-bottom: 50px;
    color: #737373;
}

.icons {
    display: flex;
    justify-content: flex-end;
    
    margin: 0;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.icon {
   padding: 10px; 
}

.menu-item {
    display: flex;
    padding: 10px;
}

.profile {
    display: grid;
    grid-template-columns: auto 1fr; /*auto-width for the image, and space left for text*/
    gap: 10px;
    align-items: center;
    padding: 10px;
    
}



.profile div {
    display: grid;
    row-gap: 4px;
}

.profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
}

.mini-bio {
    color: #737373;
}

.handle {
    font-weight: bold;
}

.header-profile-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}